[submodule "afboot-stm32"]
	path = afboot-stm32
	url = /home/luca/Scrivania/polito/OSes/project/afboot-stm32.git
[submodule "cramfs-tools"]
	path = cramfs-tools
	url = /home/luca/Scrivania/polito/OSes/project/cramfs-tools/cramfs-tools.git
[submodule "LinuxKernelMCU"]
	path = LinuxKernelMCU
	url = https://github.com/LucaLombardini/LinuxKernelMCU
